<!doctype html>
<html lang="es">
  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <title>Formulario de login con Bootstrap</title>
        <!-- Cargar el CSS de Boostrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
        <main role="main" class="container my-auto">
            <div class="row">
                
                <div id="login" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3
                    col-12">
                    <img class="img-fluid mx-auto d-block rounded"
                        src="https://th.bing.com/th/id/OIP.DsXtaFh7zQXeicmNhmsjSwHaC3?pid=Api&rs=1" />
                        <h2 class="text-center">Bienvenido</h2>
                    <form>
                        
                        <div class="form-group">
                            <label for="Matricula">Matricula</label>
                            <input id="Matricula" name="Matricula"
                                class="form-control" type="number"
                                placeholder="Matricula">
                        </div>
                        <div class="form-group">
                            <label for=" Nombre"> Nombre</label>
                            <input id=" Nombre" name=" Nombre"
                                class="form-control" type="text"
                                placeholder=" Nombre">
                        </div>
                            <div class="form-group">
                                <label for=" Primer_apellido"> Primer apellido</label>
                                <input id=" Primer_apellido" name=" Primer_apellido"
                                    class="form-control" type="text"
                                    placeholder=" Primer apellido">
                            </div>
                            <div class="form-group">
                                <label for=" Segundo_apellido"> Segundo apellido</label>
                                <input id=" Segundo_apellido" name=" Nombre"
                                    class="form-control" type="Segundo_apellido"
                                    placeholder=" Segundo apellido">
                            </div>
                            <div class="form-group">
                                <label for="date">Fecha de nacimiento</label>
                                <input id="date" name="date"
                                    class="form-control" type="date"
                                    placeholder="Fecha de nacimiento">
                            </div>
                        <div class="form-group">
                            <label for=" Sexo"> Sexo</label>
                            <input id=" Sexo" name=" Sexo"
                                class="form-control" type="text"
                                placeholder=" Sexo">
                        </div>
                        <div class="form-group">
                            <label for="Estado">Estado</label>
                            <input id="Estado" name="Estado"
                                class="form-control" type="text"
                                placeholder="Estado">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">
                            Guardar
                        </button>
                        <br>
                        <a href="#">Contraseña olvidada</a>
                    </form>
                </div>
            </div>
        </main>
    </body>

</html>